<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button (click)="gooooooBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Add employee</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Addemp</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-item color="dark">
        <ion-label position="floating">Employee Name</ion-label>
        <ion-input type="text" [(ngModel)]="employeeName"></ion-input>
    </ion-item>

    <ion-item color="dark">
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber" (click)="checkInput()"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="saveData()" shape="round">Save</ion-button>
</ion-content>