<ion-header [translucent]="true">
    <ion-toolbar class="header-toolbar">
        <ion-buttons slot="start">
            <ion-button (click)="gooooooBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Leaves</ion-title>
        <ion-toggle slot="end" [(ngModel)]="toggleChecked" (ionChange)="toggleChanged()" color="dark"></ion-toggle>
        <ion-segment value="all">
            <ion-segment-button value="favorites" (click)="goleave()">
                <ion-label>Stats</ion-label>
            </ion-segment-button>
            <ion-segment-button value="all">
                <ion-label>LOGS</ion-label>
            </ion-segment-button>
        </ion-segment>

    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">LOGS</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-content>