<ion-content color="dark">
    <div class="container">
        <img src="./assets/images/5.png" alt="Photo" class="centered-image">
    </div>

    <div class="container">
        <div class="box">
            <ion-input label="Email/Mobile Number" label-placement="floating" fill="outline" placeholder="Enter email/phone number" class="custom-box" [(ngModel)]="inputValue"></ion-input>
            <ion-button expand="full" class="custom-button" shape="round" (click)="checkInput()">Next</ion-button>



        </div>
        <div>


        </div>
    </div>

    <img src="./assets/images/2.jpeg" alt="Photo" class="down-image">
</ion-content>