<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button (click)="gooooooBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>

            </ion-button>
        </ion-buttons>
        <ion-title>Weekday</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">leaves</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-content>