<ion-header [translucent]="true">
    <ion-toolbar color="warning">
        <ion-buttons slot="end">
            <ion-button (click)="toggleEditMode()">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Personal</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="goBackpage()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <ion-header collapse="condense">
        <ion-toolbar class="header-toolbar">
            <ion-title size="large">leaves</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card color="dark">
        <ion-card-header>
            <ion-card-title>Personal Information</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Full Name:</ion-label>
                <ion-input [(ngModel)]="fullName" [readonly]="!isEditMode"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Date of Birth:</ion-label>
                <ion-input [(ngModel)]="dateOfBirth" [readonly]="!isEditMode"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Gender:</ion-label>
                <ion-input [(ngModel)]="gender" [readonly]="!isEditMode"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Blood Group:</ion-label>
                <ion-input [(ngModel)]="bloodGroup" [readonly]="!isEditMode"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Marital Status:</ion-label>
                <ion-input [(ngModel)]="maritalStatus" [readonly]="!isEditMode"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card color="dark">
        <ion-card-header>
            <ion-card-title>Contact Information</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Phone Number:</ion-label>
                <ion-input [(ngModel)]="phoneNumber" [readonly]="!isEditMode"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Alternate Phone Number:</ion-label>
                <ion-input [(ngModel)]="alternatePhoneNumber" [readonly]="!isEditMode"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Personal Email:</ion-label>
                <ion-input [(ngModel)]="personalEmail" [readonly]="!isEditMode"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Official Email:</ion-label>
                <ion-input [(ngModel)]="officialEmail" [readonly]="!isEditMode"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card color="dark">
        <ion-card-header>
            <ion-card-title>Address</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Current Address:</ion-label>
                <ion-input [(ngModel)]="currentAddress" [readonly]="!isEditMode"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>