<ion-header [translucent]="true">
    <ion-toolbar class="header-toolbar">
        <ion-buttons slot="start">
            <ion-button (click)="gooooooBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Leaves</ion-title>
        <ion-toggle slot="end" [(ngModel)]="toggleChecked" (ionChange)="toggleChanged()" color="dark"></ion-toggle>
        <ion-segment value="all" color="dark">
            <ion-segment-button value="all">
                <ion-label>PENDING</ion-label>
            </ion-segment-button>
            <ion-segment-button value="favorites">
                <ion-label>CLOSED</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <ion-card *ngFor="let leaveRequest of leaveRequests" class="leave-request-card">
        <ion-card-header>
            <ion-card-title>{{ leaveRequest.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div class="leave-info">
                            <div class="leave-label">Start Date:</div>
                            <div class="leave-value">{{ leaveRequest.startDate }}</div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="leave-info">
                            <div class="leave-label">End Date:</div>
                            <div class="leave-value">{{ leaveRequest.endDate }}</div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="leave-info">
                            <div class="leave-label">Leave Type:</div>
                            <div class="leave-value">{{ leaveRequest.leaveType }}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button *ngIf="leaveRequest.status === 'PENDING'" expand="block" color="success" (click)="approveLeave(leaveRequest)">Approved</ion-button>
            <ion-button *ngIf="leaveRequest.status === 'PENDING'" expand="block" color="danger" (click)="rejectLeave(leaveRequest)">Reject</ion-button>
            <ion-item *ngIf="leaveRequest.status === 'REJECTED'">
                <ion-label position="stacked">Rejection Reason</ion-label>
                <ion-textarea [(ngModel)]="leaveRequest.rejectionReason" rows="6" maxlength="1000"></ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>