<ion-header [translucent]="true">
    <ion-toolbar class="header-toolbar">
        <ion-buttons slot="start">
            <ion-button (click)="gooooooBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>user log</ion-title>
        <ion-toggle slot="end" [(ngModel)]="toggleChecked" [checked]="false" (ionChange)="toggleChanged()" color="dark"></ion-toggle>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-grid>
                    <ion-row>
                        <ion-col>{{ currentDate }}</ion-col>
                        <ion-col>{{ att }}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        Clock In: {{ clockInTime | date: 'HH:mm' }}
                    </ion-col>
                    <ion-col size="4">
                        Clock Out: {{ clockOutTime | date: 'HH:mm' }}
                    </ion-col>
                    <ion-col size="4">
                        Work Duration: {{ workDuration }}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-menu menuId="optionsMenu">
    <ion-header>
        <ion-toolbar>
            <ion-title>Options</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item (click)="requestLeave()" *ngIf="att === 'absent'">
                <ion-label>Absent</ion-label>
            </ion-item>
            <ion-item (click)="requestLeave()" *ngIf="att !== 'absent'">
                <ion-label>Leave</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>