<ion-header [translucent]="true">
    <ion-toolbar class="header-toolbar">
        <ion-buttons slot="start">
            <ion-button (click)="goBackpage()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Profile</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <!-- Column 1 content -->
                <div class="decorative-line"></div>
                <ion-card (click)="openbioPage() " color="dark">
                    <img src="./assets/images/profile.jpeg" class="profile-image" style="background-color: #fff;" />
                    <ion-card-header color="success">
                        Sample sample
                        <ion-card-content>
                            <p class="personal-text "> front end</p>
                            <p class="personal-text ">10032|sample.intern@spundan.com </p>
                        </ion-card-content>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12 ">
                <!-- Column 2 content -->
                <div class="decorative-line "></div>
                <ion-card (click)="openPersonalPage() ">
                    <ion-card-header color="warning ">
                        Personal
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12 ">
                <!-- Column 3 content -->
                <div class="decorative-line "></div>
                <ion-card (click)="openWorkPage() ">
                    <ion-card-header color="danger ">
                        Work
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12 ">
                <!-- Column 4 content -->
                <div class="decorative-line "></div>
                <ion-card (click)="openTeamPage() ">
                    <ion-card-header color="secondary ">
                        Team
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12 ">
                <!-- Column 5 content -->
                <div class="decorative-line "></div>
                <ion-card (click)="openWeekPage() ">
                    <ion-card-header color="dark ">
                        Work Week
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>