.personal-text {
    font-size: 10px;
    color: white;
    margin: 0;
    padding: 5px;
}

.decorative-line {
    height: 2px;
    background-color: #fff;
    margin: 10px 0;
}

.header-toolbar {
    --ion-toolbar-background: rgb(255, 106, 0);
    --ion-color-base: black;
}