<ion-header [translucent]="true">
    <ion-toolbar class="header-toolbar">
        <ion-buttons slot="start">
            <ion-button (click)="gooooooBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Directory</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item *ngFor="let data of employeeData" color="dark">
            <ion-label color="dark">
                <ion-row class="white-row">
                    <ion-col size="8" style="color: black;">
                        <ion-label><strong>Name:</strong> {{ data.name }}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="call-outline" class="phone-icon" (click)="callEmployee(data.phoneNumber)" color="light"></ion-icon>
                    </ion-col>
                    <ion-col size="2" class="ion-text-end">
                        <ion-icon name="ellipsis-vertical" class="delete-icon" (click)="showOptions(data)"></ion-icon>
                    </ion-col>

                </ion-row>
                <ion-row *ngIf="data.showOptions">
                    <ion-col style="color: black;">
                        <ion-label><strong style="color: black;">Phone Number:</strong> {{ data.phoneNumber }}</ion-label>
                    </ion-col>
                    <ion-col class="ion-text-end">
                        <ion-button color="danger" (click)="deleteEmployeeData(data)">Delete</ion-button>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>