<ion-content color="dark">
    <ion-header>
        <ion-toolbar class="header-toolbar">
            <ion-grid>


                <ion-row>
                    <ion-col></ion-col>
                    <ion-col></ion-col>


                    <ion-card-content>
                        <ion-row>

                            <ion-col size="15">
                                <ion-button (click)="toggleStopwatch()" [ngClass]="{ 'running': isRunning }" shape="round" size="medium" color="dark">
                                    <ion-icon [ngClass]="{ 'running': isRunning }" slot="end" icon="time"></ion-icon>
                                    {{ buttonLabel }}
                                    <div *ngIf="isRunning">
                                        <span class="stopwatch-time">{{ stopwatchTime }}</span>
                                    </div>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="./assets/images/5.png" alt="Photo" class="centered-image">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4.5"></ion-col>
            <ion-col>
                <ion-button shape="round" class="custom-button" (click)="onAddEmployeesClick()">
                    <ion-icon name="person-add-outline" slot="start"></ion-icon>
                    Add Employees
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col>
                <button class="icon-button">
                 <ion-icon name="file-tray-stacked-outline" size="large" (click)="showdirectory()"></ion-icon>

                  <div class="icon-title">Directory</div>
                </button>
            </ion-col>

            <ion-col>
                <button class="icon-button">
                <ion-icon name="people-outline" size="large" (click)=" showattendance()"></ion-icon>
                <div class="icon-title">Attendance</div>
              </button>
            </ion-col>
            <ion-col>
                <button class="icon-button">
                <ion-icon name="analytics-outline" size="large" (click)=" showleaves()"></ion-icon>
                <div class="icon-title">Leaves</div>
              </button>
            </ion-col>
        </ion-row>

        <ion-row></ion-row>

        <ion-row justify-content-center>
            <ion-col>
                <button class="icon-button">
                <ion-icon name="cash-outline" size="large" (click)="showpayroll()"></ion-icon>
                <div class="icon-title">Payroll</div>
              </button>
            </ion-col>
            <ion-col>
                <button class="icon-button">
                <ion-icon name="settings-outline" size="large" (click)="showsettings()"></ion-icon>
                <div class="icon-title">Settings</div>
              </button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <img src="./assets/images/white.png" alt="Photo" class="centered-image">
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <div class="horizontal-line"></div> -->
    <ion-footer style="position: unset;">
        <ion-toolbar color="dark">
            <ion-card class="bottom-card">
                <ion-row class="bottom-buttons-row">
                    <ion-col size="2">
                        <button class="bottom-button">
                  <ion-icon name="home-outline" size="medium" cilck="showhome()"></ion-icon>
                  <div class="icon-title">Home</div>
                </button>
                    </ion-col>
                    <ion-col>
                        <button class="bottom-button">
                  <ion-icon name="file-tray-stacked-outline" size="medium" (click)="showdirectory()"></ion-icon>
                  <div class="icon-title">Directory</div>
                </button>
                    </ion-col>
                    <ion-col size="1">
                        <button class="bottom-button">
                  <ion-icon name="people-outline" size="medium" (click)="showattendance()"></ion-icon>
                  <div class="icon-title">Atted</div>
                </button>
                    </ion-col>
                    <ion-col>
                        <button class="bottom-button">
                  <ion-icon name="person-circle-outline" size="medium" (click)="showprofile()"></ion-icon>
                  <div class="icon-title">Profile</div>
                </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-toolbar>
    </ion-footer>
</ion-content>
<style>
    .header-toolbar {
        --ion-toolbar-background: rgb(255, 106, 0);
        --ion-color-base: black;
    }
</style>