<ion-content>
    <ion-header [translucent]="true">
        <ion-toolbar class="header-toolbar">
            <ion-buttons slot="start" (click)="goBack()">
                <ion-button>
                    <ion-icon name="chevron-back-outline"></ion-icon>

                </ion-button>
            </ion-buttons>
            <ion-title>Settings
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" color="dark">
        <ion-content color="dark">
            <ion-card (click)="goToPage1()">
                <ion-card-header>
                    <ion-title>Attendance setup</ion-title>

                </ion-card-header>
            </ion-card>

            <ion-card (click)="goToPage2()">
                <ion-card-header>
                    <ion-title> Leave setup</ion-title>
                </ion-card-header>
            </ion-card>

            <ion-card (click)="goToPage3()">
                <ion-card-header>
                    <ion-title> Payroll setup</ion-title>
                </ion-card-header>

            </ion-card>

            <ion-card (click)="goToPage4()">
                <ion-card-header>
                    <ion-title> Additional setup </ion-title>
                </ion-card-header>

            </ion-card>
        </ion-content>

    </ion-content>